<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>
        In the Software industry for more than 16 years, with strong focus on innovation management, agile methodologies and teamwork
    </p>

    <p>
    I have a strong technical background and good customer facing skills that allows me to work at the crossroad between business and technology
    </p>

    <p>
    My agile/lean mindset makes me focus on what is adding value on a product rather than vanity metrics
    </p>

    <p>
    I focus on value proposition at all levels. Problems worth solving can be financial or business oriented, but also organizational, preventing the product to scale
    </p>

    <p>
    I have experience working in big companies, leading the transitions of large product teams into more decentralized, agile organizations
    </p>

    <p>
    Finally, my large technical background allows me to work at all level: cloud, mobile, desktop...
    </p>
</div><!--//summary-->
</section><!--//section-->