<div class="education-container container-block">
    <h2 class="container-block-title">Education & Certifications</h2>

    <div>
        <div class="item" style="width:150px;display:inline-block;">
            <h4 class="degree">Professional Cloud Architect</h4>
            <h5 class="meta">Google Cloud</h5>
            <div class="time">2020</div>
        </div><!--//item-->
        <div style="display:inline-block;position: absolute;margin-left:10px;vertical-align:top">
        
            <a href="https://www.credential.net/0f2a7bc5-a896-4cfe-8288-7e9130a7112a">
                <img style="width:60px;margin-top:-8px" src="https://api.accredible.com/v1/frontend/credential_website_embed_image/badge/15092951" alt="">
            </a>
        </div>
    </div>
    
    <div>
        <div class="item" style="width:150px;display:inline-block;">
            <h4 class="degree">Associate Cloud Engineer</h4>
            <h5 class="meta">Google Cloud</h5>
            <div class="time">2020</div>
        </div><!--//item-->
        <div style="display:inline-block;position: absolute;margin-left:10px;vertical-align:top">
        
            <a href="https://www.credential.net/7405aeea-4932-4da8-bb79-6a3f7bd913f1">
                <img style="width:60px;margin-top:-8px" src="https://api.accredible.com/v1/frontend/credential_website_embed_image/badge/14681734" alt="">
            </a>
        </div>
    </div>

    <div>
        <div class="item" style="width:150px;display:inline-block;">
            <h4 class="degree">CKAD:Certified Kubernetes Application Developer</h4>
            <h5 class="meta">Linux Foundation</h5>
            <div class="time">2019</div>
        </div><!--//item-->
        <div style="display:inline-block;position: absolute;margin-left:10px;vertical-align:top">
        
            <a href="https://www.youracclaim.com/badges/81c7d1b3-5487-43f6-ac5b-d49650bbae8e/public_url">
                <img style="width:60px;margin-top:-8px" 
                  src="{{site.baseurl}}/assets/images/ckad-certified-kubernetes-application-developer.png" 
                alt="">
            </a>
        </div>
    </div>

    <div>
        <div class="item" style="width:150px;display:inline-block;">
            <h4 class="degree">Scaled Professional Scrum</h4>
            <h5 class="meta">Scrum.org</h5>
            <div class="time">2019</div>
        </div><!--//item-->
        <div style="display:inline-block;position: absolute;margin-left:10px;vertical-align:top">

            <a href="https://api.badgr.io/public/assertions/2h9Wqc0ISmyNVjOTUiUR3w?identity__email=francois.dagostini%40gmail.com">
                <img style="width:60px;margin-top:-8px" src="https://media.badgr.com/uploads/badges/2893573b015279db2d463235eeaccc63.png">
            </a>
            
        </div>
    </div>

    <div>
        <div class="item" style="width:150px;display:inline-block;">
            <h4 class="degree">Professional Scrum Developer</h4>
            <h5 class="meta">Scrum.org</h5>
            <div class="time">2019</div>
        </div><!--//item-->
        <div style="display:inline-block;position: absolute;margin-left:10px;vertical-align:top">

            <a href="https://api.badgr.io/public/assertions/YN7pdxk3TUWFxtW-thOdzQ?identity__email=francois.dagostini%40gmail.com">
                <img style="width:60px;margin-top:-8px" src="https://media.badgr.com/uploads/badges/e2a6c52909c23c36e3f08e5c80a6a111.png">
            </a>
            
        </div>
    </div>

    <div>
        <div class="item" style="width:150px;display:inline-block;">
            <h4 class="degree">Professional Agile Leadership</h4>
            <h5 class="meta">Scrum.org</h5>
            <div class="time">2019</div>
        </div><!--//item-->
        <div style="display:inline-block;position: absolute;margin-left:10px;vertical-align:top">

            <a href="https://api.badgr.io/public/assertions/Zc2xpSmxTwiBJCFkMSEicw?identity__email=francois.dagostini%40gmail.com">
                <img style="width:60px;margin-top:-8px" src="https://media.badgr.com/uploads/badges/dbeca1b1aa24dba320860284d09f21ce.png">
            </a>
            
        </div>
    </div>

    <div >
        <div class="item" style="width:150px;display:inline-block;">
            <h4 class="degree">Professional Scrum Master</h4>
            <h5 class="meta">Scrum.org</h5>
            <div class="time">2019</div>
        </div><!--//item-->
        <div style="display:inline-block;position: absolute;margin-left:10px;vertical-align:top">

            <a href="https://api.badgr.io/public/assertions/Fu1TSyfPRdCgjbBRfDF8ew?identity__email=francois.dagostini%40gmail.com">
                <img style="width:60px;margin-top:-8px" src="https://media.badgr.com/uploads/badges/df345ab1058e53fb81618155669a06ff.png">
            </a>
            
        </div>
    </div>

    <div>
        <div class="item" style="width:150px;display:inline-block;">
            <h4 class="degree">Professional Scrum Product Owner</h4>
            <h5 class="meta">Scrum.org</h5>
            <div class="time">2019</div>
        </div><!--//item-->
        <div style="display:inline-block;position: absolute;margin-left:10px;vertical-align:top">

            <a href="https://api.badgr.io/public/assertions/ctCmbCsTRQ29ym2c4lDcDg?identity__email=francois.dagostini%40gmail.com">
                <img style="width:60px;margin-top:-8px" src="https://media.badgr.com/uploads/badges/b88d580be3515872e0a67110ef890c62.png">
            </a>
            
        </div>
    </div>

    <div class="item" style="padding-top: 20px;">
        <h4 class="degree">Award for Innovation & Creativity </h4>
        <h5 class="meta">Boston Consulting Group</h5>
        <div class="time">2019</div>
    </div><!--//item-->

    <div >
        <div class="item" style="width:150px;display:inline-block;">
            <h4 class="degree">Deep Learning Nanodegree Foundation</h4>
            <h5 class="meta">Udacity</h5>
            <div class="time">2017</div>
        </div><!--//item-->
        <div style="display:inline-block;position: absolute;margin-left:10px;vertical-align:top">

            <a href="https://confirm.udacity.com/GQSE244X">
                <img style="width:60px;margin-top:-8px" src="{{site.baseurl}}/assets/images/udacity-logo.png">
            </a>
            
        </div>
    </div>

    <div>
        <div class="item" style="display:inline-block;width:150px;">
            <h4 class="degree">Solutions Architect</h4>
            <h5 class="meta">Amazon Web Services</h5>
            <div class="time">2016</div>
        </div><!--//item-->
        <div style="display:inline-block;position: absolute;margin-left:10px;vertical-align:top">
        
            <a href="https://www.certmetrics.com/amazon/public/badge.aspx?i=1&t=c&d=2016-11-30&ci=AWS00184211"><img style="width:60px;margin-top:-8px" src="https://www.certmetrics.com/api/ob/image/amazon/c/1" alt=""></a>
        </div>
    </div>
    
    <div class="item">
        <h4 class="degree">Stanford Ignite Certificate</h4>
        <h5 class="meta">Stanford University</h5>
        <div class="time">2014</div>
    </div><!--//item-->
    <div class="item">
        <h4 class="degree">Award for Excellence in Innovation </h4>
        <h5 class="meta">Cisco</h5>
        <div class="time">2013</div>
    </div><!--//item-->
    <div class="item">
        <h4 class="degree">MSc in Computer Science</h4>
        <h5 class="meta">ESIEE Paris Engineering School</h5>
        <div class="time">1995 - 2000</div>
    </div><!--//item-->
</div><!--//education-container-->