<div class="education-container container-block">
    <h2 class="container-block-title">Education</h2>
    <div >
        <div class="item" style="display:inline-block;">
            <h4 class="degree">AWS Solutions Architect</h4>
            <h5 class="meta">AWS Certification</h5>
            <div class="time">2016</div>
        </div><!--//item-->
        <div style="display:inline-block;position: absolute;margin-left:10px;vertical-align:top">
        
            <a href="https://www.certmetrics.com/amazon/public/badge.aspx?i=1&t=c&d=2016-11-30&ci=AWS00184211"><img style="width:60px;margin-top:-8px" src="https://www.certmetrics.com/api/ob/image/amazon/c/1" alt=""></a>
        </div>
    </div>
    
    <div class="item">
        <h4 class="degree">Scrum Product Owner Certificate</h4>
        <h5 class="meta">Scrum Alliance</h5>
        <div class="time">2015</div>
    </div><!--//item-->
    <div class="item">
        <h4 class="degree">Stanford Ignite Certificate</h4>
        <h5 class="meta">Stanford University</h5>
        <div class="time">2014</div>
    </div><!--//item-->
    <div class="item">
        <h4 class="degree">Award for Excellence in Innovation </h4>
        <h5 class="meta">Cisco</h5>
        <div class="time">2013</div>
    </div><!--//item-->
    <div class="item">
        <h4 class="degree">MSc in Computer Science</h4>
        <h5 class="meta">ESIEE Paris Engineering School</h5>
        <div class="time">1995 - 2000</div>
    </div><!--//item-->
</div><!--//education-container-->