<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">User experience product Manager</h3>
                            <div class="time">2015 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Cisco Video Technologies</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>bla bla bla</p>  
                        <p></p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Cisco TV Middleware Product Manager</h3>
                            <div class="time">2012 - 2014</div>
                        </div><!--//upper-row-->
                        <div class="company">Cisco Video Technologies</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Responsible for the Cisco TV middleware on Cisco's reference platform. </p>  
                        <p>Multi process application management using <b>Qt</b> in C++ as the core foundation. <b>DBus</b> for cross app messaging</p>
                        <p>Responsible for all aspects of the middleware: application packaging, Linux SDK to help developers create applications, core TV applications (network, AV outputs, video...)</p>
                        
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Technical lead for the NDS TV Middleware</h3>
                            <div class="time">2009 - 2012</div>
                        </div><!--//upper-row-->
                        <div class="company">NDS - part of NewsCorp</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>responsible to create the common applications foundations for all our customers</p>  
                        <p>The goal was to lay out the foundations to a common application framwork and template so that each customer can get their own branded applications at a low price</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Lead developer on several TV Set Top Box Projects</h3>
                            <div class="time">2004 - 2008</div>
                        </div><!--//upper-row-->
                        <div class="company">NDS - part of NewsCorp</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>
                        Lead developer in several international video projects, I was responsible for the applications running on our customers' Set Top Boxes.
                        We used the NDS Fusion Middleware with a Java frontend in J2ME, using AWS for the UX layer.
                        </p>
                        <p>
                        This is where I learned to work on big projects with multiple teams scattered around 3 international sites (France, Israel, India)
                        </p>  
                        
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">TV UI Developer</h3>
                            <div class="time">2000 - 2004</div>
                        </div><!--//upper-row-->
                        <div class="company">ALTEN</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Responsible for the UI Toolkit used by other team in their respective projects. I was mainly working in <i>Java Mobile Edition (J2ME)</i> on Set Top Boxes </p>  
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->