<section id="pageBreak" class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>Side projects I was engaged on or working on personally</p>
                </div><!--//intro-->

                <div class="item">
                    <span class="project-title"><a target="_blank" href="https://shop.msm.bcgplatinion.io/">
                        Microservices E-Commerce website
                    </a></span> - 
                    <span class="project-tagline">
                    Project allowing me to experiment with microservices, built on <b>Kubernetes</b> 
                    </span>
                </div><!--//item-->

                <div class="item">
                    <span class="project-title"><a target="_blank" href="https://www.tom.travel/2017/03/28/flyoff-startup-voyage-instantane-remplit-sieges-vides-avions/">
                        Flyoff Startup Technical Mentor
                    </a></span> - 
                    <span class="project-tagline">
                    Bootstraped the Flyoff startup to quickly come up with an application and test the market. The technical stack was <b>AWS, RabbitMQ, React-native, MongoDB</b>
                    </span>
                </div><!--//item-->

                <div class="item">
                    <span class="project-title"><a target="_blank" href="http://www.ctopartners.fr/">CTO Partner startup investment fund</a></span> - 
                    <span class="project-tagline">
                    Part of an investment fund that helps startups which are at the early stage to overcome their technical problems
                    </span>
                </div><!--//item-->

                <div class="item">
                    <span class="project-title"><a target="_blank" href="http://zenigmes.herokuapp.com/">Zenigmes website</a></span> - 
                    <span class="project-tagline">
                    Website used by teachers to propose Mathematical quizzes to their students at the <em> <a href="http://lyc-jb-say.scola.ac-paris.fr/">Lycée Jean Batiste Say</a></em> in Paris.
                    </span>
                    {% comment %} <p>Teachers get their own administrator dashboard to create quizzes, challenges and monitor student's activities and answers.</p>
                    <p>On the other end, students get their leaderboard, the current quizz, and explanations of past quizzes so they can learn from their mistake.
                    </p> {% endcomment %}                    
                </div><!--//item-->

                <div class="item">
                    <span class="project-title"><a target="_blank" href="http://www.dagostini.fr/git-basics/#/">GIT Training</a></span> - 
                    <span class="project-tagline">
                    Git training done in 2011 for a whole year, part of global migration to DVCS. 
                    </span>
                </div><!--//item-->

                
            </section><!--//section-->