<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects and publications</h2>
                <div class="intro">
                    <p>Side projects or interests I was engaged on or working on personally</p>
                </div><!--//intro-->

                <div class="item">
                    <span class="project-title"><a target="_blank" href="https://fleet.ccar.bcgplatinion.io/#/">
                        <i>Connected car IOT Platform</i>
                    </a></span> - 
                    <span class="project-tagline">
                    A reference implementation of a connected car platform on <b>Google Cloud</b>, showcasing how cars can now become ecosystems for innovation
                    </span>
                </div><!--//item-->

                <div class="item">
                    <span class="project-title"><a target="_blank" href="https://franoisdagostini.medium.com/gitops-build-infrastructure-resilient-applications-95bbc939046d">
                        <i>"GitOps: Build infrastructure resilient applications"</i>
                    </a></span> - 
                    <span class="project-tagline">
                    A Medium post on how to effectively use modern CI/CD architectures to reach effective production deployment speed
                    </span>
                </div><!--//item-->

                <div class="item">
                    <span class="project-title"><a target="_blank" href="https://shop.msm.bcgplatinion.io/">
                        Microservices E-Commerce website
                    </a></span> - 
                    <span class="project-tagline">
                    Project used to experiment showcase <b>microservices architecures</b>. Built on <b>Kubernetes</b> 
                    </span>
                </div><!--//item-->

                <div class="item">
                    <span class="project-title"><a target="_blank" href="https://franoisdagostini.medium.com/organizational-silos-is-what-you-need-e28c654665c3">
                        <i>"Organizational silos is what you need"</i>
                    </a></span> - 
                    <span class="project-tagline">
                    A Medium post with a somewhat provocative title stating that team autonomy is what matters when creating an IT structure. Self Service strategy and empowerement beats processes and centralization
                    </span>
                </div><!--//item-->

                <div class="item">
                    <span class="project-title"><a target="_blank" href="https://www.tom.travel/2017/03/28/flyoff-startup-voyage-instantane-remplit-sieges-vides-avions/">
                        Flyoff Startup CTO
                    </a></span> - 
                    <span class="project-tagline">
                    Bootstraped the Flyoff startup, a startup that sells last minute plane ticket to quickly come up with an application and test the market. The technical stack was <b>AWS, RabbitMQ, React-native, MongoDB</b>
                    </span>
                </div><!--//item-->

                <div class="item">
                    <span class="project-title"><a target="_blank" href="http://www.ctopartners.fr/">CTO Partner startup investment fund</a></span> - 
                    <span class="project-tagline">
                    Part of an investment fund that helps startups which are at the early stage to overcome their technical problems
                    </span>
                </div><!--//item-->

                <div class="item">
                    <span class="project-title"><a target="_blank" href="http://zenigmes.herokuapp.com/">Zenigmes website</a></span> - 
                    <span class="project-tagline">
                    Website used by teachers to propose Mathematical quizzes to their students at the <em> <a href="http://lyc-jb-say.scola.ac-paris.fr/">Lycée Jean Batiste Say</a></em> in Paris.
                    </span>
                    {% comment %} <p>Teachers get their own administrator dashboard to create quizzes, challenges and monitor student's activities and answers.</p>
                    <p>On the other end, students get their leaderboard, the current quizz, and explanations of past quizzes so they can learn from their mistake.
                    </p> {% endcomment %}                    
                </div><!--//item-->

                <div class="item">
                    <span class="project-title"><a target="_blank" href="http://www.dagostini.fr/git-basics/#/">GIT Training</a></span> - 
                    <span class="project-tagline">
                    Git training done in 2011 for a whole year, part of global migration to DVCS. 
                    </span>
                </div><!--//item-->

                
            </section><!--//section-->